.btn-fill-green{
    font-weight: 600;
    font-size: 14px;
    background: var(--strong-green);
    color: white;
    padding: 1rem 1.8rem;
    border-radius: 0.5rem;
    cursor: pointer;
    border: none;
}