#section-category{
    max-width: 1440px;
    /* padding: 0px 40px; */
}

#section-category > h2{
    margin-bottom: 40px;
}

.container-categories{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.category{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.category > img{
    max-width: 7.8rem;
    height: 7.8rem;
    object-fit: cover;
    border-radius: 21.5rem;
    transition: all .4s ease-out;
}

.category > img:hover{
    max-width: 9rem;
    height: 9rem;
    border: 4px solid var(--light-green);
}

.category > p{
    color: var(--strong-green);
    font-weight: 600;
    font-size: 1rem;
    margin-top: 0.6rem;
    transition: all .4s ease-out;
}

.category > p:hover{
    font-weight: 800;
}