#section-banner{
    margin: auto;
    max-width: 1440px;
}

.banner{
    display: flex;
    justify-content: space-between;
    position: relative;
    margin: 45px 20px;
}

#bg-banner{
    width: 100%;
    position: absolute;
    z-index: -1;
    left: 0;
    top: 0;
    object-fit: cover;
}

.banner > #ilustration{
    height: 100%;
    max-height: 392px;
    max-width: 540px;
    padding: 10px 10px 0px 0px;
}

.container-input{
    width: 100%;
    background: white;
    border: 2px solid #3BAE4E;
    border-radius: 11px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
}

.container-input > span{
    display: flex;
    align-items: center;
    width: 100%;
    margin: 0px 0px 0px 16px;
}

.container-input > span > input{
    width: 100%;
    border: none;
    font-size: 14px;
    color: #30883F;
    margin: 0px 4px;
}

.container-input > span > input::placeholder{
    color: #30883F;
}

.container-input > span > input:active{
    border: none;
}

.container-input > span > img{
    width: 18px;
    height: 18px;
}

.container-input > .btn-send{
   background: #009933; 
   border: none;
   color: white;
   font-weight: bold;
   font-size: 14px;
   padding: 16px 40px;
   border-radius: 9px;
}

#divisor-category-highlights{
    max-width: 1440px;
    height: 1px;
    width: 95%;
    margin: 1.75rem auto 4.3rem auto;
    background: var(--gray-almost-white);
    border: none;
}

.section-service,
.section-all-services{
    max-width: 1440px;
    margin: 5rem auto 2.5rem auto;
    /* padding: 0 38px; */
}

.section-service > h2,
.section-all-services > h2{
    margin-bottom: 2rem;
}

.title-section-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section-service > .cards,
.section-all-services > .cards-all-services{
    display: flex;
    justify-content: space-between;
}

.section-all-services > .cards-all-services{
    flex-wrap: wrap;
}

.section-advertising{
    max-width: 1440px;
    display: flex;
    align-items: center;
}

.section-advertising div:nth-child(1) > h2{
    margin-bottom: 20px;
}

.section-advertising div:nth-child(1) > p{
    margin-bottom: 90px;
}